%h1.title
  %span{:lang => "ja"} 字
  | About
%p
  The purpose of this website is to provide a resource to practice writing kanji. Kanji are organized by
  %a{:href => "https://en.wikipedia.org/wiki/J%C5%8Dy%C5%8D_kanji"} Jōyō
  grade,
  %a{:href => "http://www.jlpt.jp/e/index.cgi"} JLPT
  level, and
  %a{:href => "https://www.wanikani.com/"} WaniKani
  level.
%h3 Levels and Categories
%p There are two subcategories of jōyō kanji: 1,006 kyōiku kanji divided into grades 1 to 6, and 1,130 additional kanji that are grouped together as grade 9. Kanji lists are no longer released for JLPT exams, so the JLPT levels given here are from old data. WaniKani levels are from 1-60 and were accurate as of late 2015.
%p
  Characters given the category jinmeiyō (name kanji) do not include those already categorized as jōyō. If a character is not jōyō or jinmeiyō, it is categorized as hyōgai. The only exception is the iteration mark "
  %span{:lang => "ja"}> 々
  ", or dōnojiten.
%h3 Sources
%p
  Meanings and readings for kanji characters are from
  %a{:href => "https://www.wanikani.com/"} WaniKani
  and
  %a{:href => "http://jisho.org/"} Jisho.
  All stroke-order diagrams come from the wonderful, open source project:
  %a{:href => "http://kanjivg.tagaini.net/"} KanjiVG.
